.calculator {
  width: 100%;
  height: 100vh;

  z-index: 200;

  position: fixed !important;
  animation-name: down-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  &-body {
    margin: auto;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  &-content {
    width: 375px;
    height: 812px;
    margin: auto;

    border-radius: 38px;

    background-color: #17181a;

    display: flex;
    flex-direction: column;

    padding: 44px 24px;

    position: relative;

    overflow: hidden;

    .input {
      flex: 1;

      .text-1 {
        color: #818181;
        font-size: 24px;
        font-weight: 400;
        .arifmetik {
          color: #109dff;
        }
      }
      display: flex;
      //   justify-content: center;
      align-items: center;

      justify-content: flex-end;

      &-content {
        width: 100%;
        text-align: end;
        .result {
          color: white;
          font-size: 48px;
          font-weight: 600;
        }
      }
    }

    .buttons {
      display: grid;

      gap: 1em;

      grid-template-columns: repeat(4, 1fr);

      color: $primary-color;

      .button {
        // width: 60px;
        height: auto;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 32px;

        padding: 16px;
        font-weight: bold;
        cursor: pointer;
      }

      .number {
        background-color: #303136;
      }

      .span-col-2 {
        grid-row: span 3;
      }

      .ac-1 {
        display: grid;
        gap: 2em;
      }

      .number-zero {
        grid-column: 1 / span 2;
      }

      .arifmetik {
        background-color: $primary-color;
        // color:
        color: #339dff;
      }

      .remove-btn {
        background-color: #616161;
        color: #a5a5a5;
      }
    }
  }

  .box-shadow-1 {
    width: 150px;
    height: 150px;
    background: #24a5ff;
    box-shadow: 150px 150px 150px;
    border-radius: 9999px;
    filter: blur(40px);

    position: absolute;
    top: -60px;
    right: -50px;
    z-index: 20;
  }

  .box-shadow-2 {
    width: 150px;
    height: 150px;
    background: #24a5ff;
    box-shadow: 150px 150px 150px;
    border-radius: 9999px;
    filter: blur(40px);

    position: absolute;
    bottom: -140px;
    z-index: 20;
  }

  .exit-btn {
    background-color: white;
    border: 1px solid #707070;
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    top: 0px;
    right: 0px;
  }
}

.grid {
  display: grid;
}

.mt-10px {
  margin-top: 10px;
}

.calc-closed {
  animation-name: up-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  top: -100%;
  opacity: 0;
  //   display: none;
}

@keyframes up-animation {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
    display: none;
  }
}

@keyframes down-animation {
  0% {
    top: -100%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.calc-visible-button {
  position: fixed;
  right: 80px;
  border: 80px;
  height: 80px;
  width: 80px;
  background-color: white;
  z-index: 50;
  bottom: 80px;

  right: 80px;

  background: $primary-color;
  justify-content: center;
  display: flex;
  align-items: center;
  img {
    height: 54px;
  }

  border-radius: 9999px;

  cursor: pointer;
}
