.container {
  max-width: 1500px;
  margin: auto;
}

@media only screen and (max-width: 1600px) {
  .container {
    margin-right: 30px;

    margin-left: 30px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 24px;

  padding-bottom: 24px;

  .menus {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    font-size: 16px;
    font-weight: 500;
    align-items: center;

    .menu-signup-item {
      background-color: black;
      padding: 12px 24px;
      border-radius: 4px;
      color: white;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .header {
  padding-top: 96px;
}

.fixed {
  position: fixed;
  top: 0px;
  width: 100vw;
  background-color: white;
  z-index: 100;
}

.hero-section {
  height: calc(100vh - 96px - 120px);
  width: 100%;
  background-color: #f4f6f5;

  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .image-container {
    position: relative;
    flex: 1;
    display: flex;
    align-items: flex-end;
    img {
      height: 80%;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
    .hero-image {
      position: absolute;
      bottom: 0px;
      z-index: 2;
    }
  }

  .sentence-container {
    width: 40%;
    flex-direction: column;
    height: 60%;
    margin: auto;
  }

  .hero-text {
    font-size: 54px;
    line-height: 110px;
    font-weight: 900;
  }

  .hero-desc {
    font-size: 20px;
    color: #191818;
    word-wrap: break-word;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 40px;
  }

  .menu-signup-item {
  }

  .shop-now {
    background-color: black;
    padding: 12px 24px;
    border-radius: 4px;
    color: white;
    font-size: 28px;
    width: 200px;
    margin-left: 40px;
    text-align: center;
    font-weight: bold;
  }
}

.customer-section {
  background-color: #ebd96b;

  padding-top: 40px;

  padding-bottom: 20px;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      height: 54px;
    }
  }
}

.product_sections {
  margin-top: 40px;
  margin-bottom: 40px;
  h2 {
    color: black;
    font-size: 22.8px;
    font-family: Poppins;
    font-weight: 900;
    line-height: 23.75px;
    letter-spacing: 1.37px;
    word-wrap: break-word;
    margin-bottom: 40px;
  }

  .products {
    gap: 4em;
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    .product-item {
      img {
        width: 100%;
      }

      .title {
        font-size: 24px;
        font-weight: bold;
      }
      .sub-title {
        font-size: 20px;
        opacity: 0.7;
      }
    }
  }
}
